body {
  background: #709676;
  color: #333;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  background: #597a5e;
  width: 600px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  flex-direction: column;
}

input[type="text"] {
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s linear;
  margin: 20px;
}

input[type="text"]:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

input[type="text"]:focus {
  box-shadow: 0 0 20px rgba(15, 159, 255, 0.7);
  outline: 0.2px;
}

input[type="text"]:active {
  transform: scale(0.98);
}

button {
  padding: 15px;
  margin: 20px;
  border: none;
  border-radius: 20px;
  background: #709689;
  width: 80px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  background: #5f8578;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

button:active {
  transform: scale(0.95);
}
